/** colors **/

/** text color **/
$text-color-blue: #1560BD;
$text-color-white: #FFFFFF;
$text-color-red: #D92A00;
$text-color-green: #00773D;
$text-color-gray: #908F8C;
$text-color-violet: #4D56A2;


/** background **/
$background-blue: #007AFF;
$background-light-red: #FFEEEA;
$background-light-green: #DEFDEE;
$background-light-violet: #E9EAF4;
$background-light-gray: #EDF0FC;
$background-dark-gray: #94A3B8;
$background-light-yellow: #FFEFAF;


/** body background **/
$body-background-white: #ffffff;
$body-background-blue: #1560BD;
