.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	button {
		padding: 1rem 2rem;
		font-size: 1.5rem;
		border-radius: 0.5rem;
		background-color: #4285f4;
		color: white;
		border: none;
		cursor: pointer;

		css &:hover {
			background-color: #3367d6;
		}
	}
}
